* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(48, 47, 47);
}

.header {
    padding: 30px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #1b1b1b;
    color: #ffffff;
}

.nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.navlist {
    display: inline-block;
    margin-left: 25px;
    padding-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

h2 {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 90px;
    text-decoration: underline;
}

section {
    display: flex;
}

.sections {
    padding: 50px;
    height: 600px;
    width: 400px;
    margin-left: 170px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #1b1b1b;
}

p {
    color: white;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.contacts {
    list-style: none;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.underline {
    text-decoration: underline;
}

#FoovieLogo {
    width: 150%;
    height: 40%;
    padding-right: 160px;
}


